<a href="https://colab.research.google.com/github/mariobigai/python-introducao-a-collections/blob/aula04/aula7/Introdu%C3%A7%C3%A3o_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1 - Lista e operações

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [ ]:
idades = [39, 30, 27, 18]

In [ ]:
type(idades)

list

In [ ]:
len(idades)

4

In [ ]:
idades[0]

39

In [ ]:
idades

[39, 30, 27, 18]

In [ ]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [ ]:
idades.append(15)

In [ ]:
idades

[39, 30, 27, 18, 15]

In [ ]:
idades[4]

15

In [ ]:
idades[5]

IndexError: ignored

In [ ]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [ ]:
idades.remove(30)

In [ ]:
idades

[39, 27, 18, 15]

In [ ]:
idades.remove(30)

ValueError: ignored

In [ ]:
idades.append(15)

In [ ]:
idades

[39, 27, 18, 15, 15]

In [ ]:
idades.remove(15)

In [ ]:
idades

[39, 27, 18, 15]

In [ ]:
idades.append(27)
idades.remove(27)
idades

[39, 18, 15, 27]

In [ ]:
28 in idades

False

In [ ]:
15 in idades

True

In [ ]:
if 15 in idades:
  idades.remove(15)

In [ ]:
idades

[39, 18, 27]

In [ ]:
if 28 in idades:
  idades.remove(28)

In [ ]:
idades

[39, 18, 27]

In [ ]:
idades.append(19)
idades

[39, 18, 27, 19]

In [ ]:
idades.insert(0, 20)
idades

[20, 39, 18, 27, 19]

In [ ]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [ ]:
idades.append([27, 19])

In [ ]:
idades

[20, 39, 18, [27, 19]]

In [ ]:
for elemento in idades:
  print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

In [ ]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [ ]:
for idade in idades:
  print(idade + 1)

21
40
19
28
20

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
idades_no_ano_que_vem = [idade+1 for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
[idade for idade in idades if idade > 21]

[39, 27]

In [ ]:
idades

[20, 39, 18, 27, 19]

In [ ]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()

0
[]

In [ ]:
faz_processamento_de_visualizacao()

1
[13]

In [ ]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [ ]:
faz_processamento_de_visualizacao()

3
[13, 13, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = list()):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
1
[13]

In [ ]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

# Aula 2 - Tuplas

## Objetos Próprios

In [ ]:
class ContaCorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0
  
  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>> Codigo {} Saldo {} <<]".format(self.codigo, self.saldo)

In [ ]:
conta_do_mario = ContaCorrente(15)
print(conta_do_mario)

[>> Codigo 15 Saldo 0 <<]

In [ ]:
conta_do_mario.deposita(500)
print(conta_do_mario)

[>> Codigo 15 Saldo 500 <<]

In [ ]:
conta_da_dani = ContaCorrente(50000)
conta_da_dani.deposita(2000)
print(conta_da_dani)

[>> Codigo 50000 Saldo 2000 <<]

In [ ]:
contas = [conta_do_mario, conta_da_dani]
print(contas)

[<__main__.ContaCorrente object at 0x7fbc10dfcb80>, <__main__.ContaCorrente object at 0x7fbc10dfcdc0>]

In [ ]:
for conta in contas:
  print(conta)

[>> Codigo 15 Saldo 500 <<]
[>> Codigo 50000 Saldo 2000 <<]

In [ ]:
contas = [conta_do_mario, conta_da_dani, conta_do_mario]

In [ ]:
for conta in contas:
  conta.deposita(300)
  print(conta)

[>> Codigo 15 Saldo 800 <<]
[>> Codigo 50000 Saldo 2300 <<]
[>> Codigo 15 Saldo 1100 <<]

O que acontece aqui é que como adicionamos 2 vezes a conta do Mario na lista contas, criamos duas referências que apontam para o mesmo objeto: conta[0] e conta[1] apontam para o objeto conta_do_mario (<__main__.ContaCorrente object at 0x7f8a8837b4f0>). Esses são cuidados que precisamos tomar quando trabalhamos com listas por causa da mutabilidade dos objetos.

In [ ]:
conta_do_mario = ContaCorrente(15)
conta_da_dani = ContaCorrente(50000)
contas = [conta_do_mario, conta_da_dani]

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

In [ ]:
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>> Codigo 15 Saldo 0 <<] [>> Codigo 50000 Saldo 0 <<]
[>> Codigo 15 Saldo 100 <<] [>> Codigo 50000 Saldo 100 <<]

In [ ]:
contas.insert(0,76)
print(contas[0], contas[1], contas[2])

76 [>> Codigo 15 Saldo 100 <<] [>> Codigo 50000 Saldo 100 <<]

In [ ]:
print(contas[0], contas[1], contas[2])
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

76 [>> Codigo 15 Saldo 100 <<] [>> Codigo 50000 Saldo 100 <<]

AttributeError: ignored

In [ ]:
#Utilizando Tuplas
mario = ('Mario', 25, 1997)
daniela = ('Daniela', 35, 1987)

In [ ]:
conta_do_mario = (15, 1000)
# conta_do_gui.deposita() # variação OO

def deposita(conta): # variação funcional
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [ ]:
print(deposita(conta_do_mario))
conta_do_mario

(15, 1100)

(15, 1000)

In [ ]:
usuarios = [mario, daniela]
usuarios

[('Mario', 25, 1997), ('Daniela', 35, 1987)]

In [ ]:
usuarios.append(('Guilherme', 42, 1981))
usuarios

[('Mario', 25, 1997), ('Daniela', 35, 1987), ('Guilherme', 42, 1981)]

In [ ]:
#tupla de objetos
conta_do_mario = ContaCorrente(15)
conta_do_mario.deposita(500)
conta_da_dani = ContaCorrente(1235)
conta_da_dani.deposita(1500)
conta_do_gui = ContaCorrente(2345)
conta_do_gui.deposita(3000)
contas = (conta_do_mario, conta_da_dani, conta_do_gui)
contas

(<__main__.ContaCorrente at 0x7fbc10e116d0>,
 <__main__.ContaCorrente at 0x7fbc10e114c0>,
 <__main__.ContaCorrente at 0x7fbc10e11130>)

In [ ]:
for conta in contas:
  print(conta)

[>> Codigo 15 Saldo 500 <<]
[>> Codigo 1235 Saldo 1500 <<]
[>> Codigo 2345 Saldo 3000 <<]

In [ ]:
contas[0].deposita(100)

In [ ]:
for conta in contas:
  print(conta)

[>> Codigo 15 Saldo 600 <<]
[>> Codigo 1235 Saldo 1500 <<]
[>> Codigo 2345 Saldo 3000 <<]

# Aula 3 - Polimorfismo e arrays

In [ ]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor
  
  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return "[>> Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

TypeError: ignored

In [ ]:
class ContaCorrente(Conta):
  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>> Codigo 16 Saldo 998 <<]

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>> Codigo 17 Saldo 1007.0 <<]

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]
for conta in contas:
  conta.passa_o_mes() #duck typing
  print(conta)

[>> Codigo 16 Saldo 998 <<]
[>> Codigo 17 Saldo 1007.0 <<]

## array padrão do python

In [ ]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

## Utilizando o numpy

In [ ]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)

In [ ]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

# Aula 4 - Igualdade

## Classe ContaSaláro sem o __ eq__()

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>>> Codigo {} Saldo {} <<<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
print(conta1, conta2)

[>>> Codigo 37 Saldo 0 <<<] [>>> Codigo 37 Saldo 0 <<<]

In [ ]:
conta1==conta2

False

In [ ]:
conta1 in [conta2]

False

In [ ]:
conta2 in [conta1]

False

## Classe ContaSalario com o __ eq__()

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>>> Codigo {} Saldo {} <<<]".format(self._codigo, self._valor)
  
  def __eq__(self, outro):
    return self._codigo == outro._codigo

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1==conta2

True

In [ ]:
conta1 in [conta2]

True

In [ ]:
conta2 in [conta1]

True

## Classe ContaSalario com o __ eq__() comparando todos os atributos

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>>> Codigo {} Saldo {} <<<]".format(self._codigo, self._saldo)
  
  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
print(conta1, conta2)

[>>> Codigo 37 Saldo 0 <<<] [>>> Codigo 37 Saldo 0 <<<]

In [ ]:
conta1==conta2

True

In [ ]:
conta1.deposita(10)
print(conta1, conta2)

[>>> Codigo 37 Saldo 10 <<<] [>>> Codigo 37 Saldo 0 <<<]

In [ ]:
conta1==conta2

False

In [ ]:
conta1 in [conta2]

False

In [ ]:
conta2 in [conta1]

False

## Classe ContaSalario com o __ eq__() verificando o tipo e herança

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>>> Codigo {} Saldo {} <<<]".format(self._codigo, self._saldo)
  
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)
print(conta1, conta2)

[>>> Codigo 37 Saldo 0 <<<] [>> Codigo 37 Saldo 0 <<]

In [ ]:
conta1==conta2

False

In [ ]:
isinstance(conta2, ContaSalario)

False

In [ ]:
isinstance(conta2, Conta)

True

In [ ]:
class ContaMultiploSalario(ContaSalario):
  pass
conta1 = ContaSalario(37)
conta2 = ContaMultiploSalario(37)
print(conta1, conta2)

[>>> Codigo 37 Saldo 0 <<<] [>>> Codigo 37 Saldo 0 <<<]

In [ ]:
conta1==conta2

True

In [ ]:
conta1==conta2

True

In [ ]:
isinstance(conta2, ContaSalario)

True

# Aula 5 - Outras Built-ins

In [1]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [2]:
range(len(idades)) # lazy...

range(0, 8)

In [3]:
enumerate(idades) # lazy

In [4]:
list(range(len(idades))) # forcei a geração dos valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [5]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [6]:
for indice, idade in enumerate(idades): # unpacking da nossa tupla
  print(indice, "x", idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [7]:
usuarios = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31, 1987),
    ("Paulo", 39, 1979)
]

for nome, idade, nascimento in usuarios: # ja desempacotando
  print(nome)

Guilherme
Daniela
Paulo

In [8]:
for nome, _, _ in usuarios: # ja desempacotando, ignorando o resto
  print(nome)

Guilherme
Daniela
Paulo

# Aula 6: Ordem Natural

In [ ]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [ ]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [ ]:
reversed(idades)

In [ ]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [ ]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [ ]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [ ]:
idades.sort()

In [ ]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

# Aula 7 - Ordenação Customizada

In [23]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [24]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

Ordenando a partir de funções que quebram o encapsulamento

In [25]:
def acessa_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=acessa_saldo):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [26]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter('_saldo')):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

Refatorando classe para suportar o operador "menor que" (<)

In [35]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

  def __lt__(self, outro):
    return self._saldo < outro._saldo

In [36]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [37]:
sorted(contas)

[<__main__.ContaSalario at 0x7f41b0ca2520>,
 <__main__.ContaSalario at 0x7f41b0ca25b0>,
 <__main__.ContaSalario at 0x7f41b0ca2820>]

In [38]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [39]:
for conta in sorted(contas, reverse=True):
  print(conta)

[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 17 Saldo 500<<]

In [40]:
conta_do_guilherme < conta_da_daniela

True

In [41]:
conta_do_guilherme > conta_da_daniela

False